[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
flake8 = "*"
yapf = "*"
pep8-naming = "*"

[packages]
pip = "*"
sh = "*"
click = "*"
requests = "*"
python-json-logger = "*"
colorama = "*"
structlog = "*"
questionary = "*"

[requires]
python_version = "3.7"
